<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <img class="navbar-brand" src="assets/img/logo-claro.svg" alt="Logo Ghilbi">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-light">
          <li class="nav-item">Home</li>
        <!-- <li class="nav-item active">
          <a class="nav-link text-uppercase" [routerLink]="['/cotizaciones']">cotizaciones <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-uppercase" [routerLink]="['/panel-rulo']">Simular dollar-loop</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-uppercase" [routerLink]="['/panel-pf']">Simular plazo fijo</a>
        </li> -->
        
       
      </ul>
      
    </div>
  </nav>