
<div id="inicio">

</div>

<div id="bloque-mensajes" class="container-fluid pt-4" data-aos="zoom-in" data-aos-duration="2000">

</div>

<div id="bloque-preguntas-faciles">

    <div class="container d-flex justify-content-center p-5" *ngFor="let pregunta of arrPreguntas">
        <div class="row">

            
    
            <div class="col-md-4 text-center">            
                <div class="card">
                    <img [src]="pregunta.imagen" class="img-fluid" [alt]="pregunta.titulo">
                </div>
            </div>
    
            <div class="col-md-4">
                <h3 class="text-muted text-uppercase text-center">{{pregunta.titulo}}</h3> 
                <hr class="my-4">
                <div class="texto-pregunta lead">
                    {{pregunta.texto}}
                </div>


                
            </div>
    
            <div class="col-md-4">
                <div class="container pb-4" id="contenedor-respuestas">
                    <button class="btn btn-primary btn-lg btn-block pt-2" (click)="contestacion(pregunta.respuesta1, pregunta.respuestaCorrecta, pregunta.textoRespuesta)">{{pregunta.respuesta1}}</button>
                    <button class="btn btn-primary btn-lg btn-block pt-2" (click)="contestacion(pregunta.respuesta2, pregunta.respuestaCorrecta, pregunta.textoRespuesta)">{{pregunta.respuesta2}}</button>
                    <button class="btn btn-primary btn-lg btn-block pt-2" (click)="contestacion(pregunta.respuesta3, pregunta.respuestaCorrecta, pregunta.textoRespuesta)">{{pregunta.respuesta3}}</button>
                </div>

                <!-- Datos de la API -->
                <div class="card text-muted font-italic font-weight-light border-warning  text-light m-3 p-3 pt-4">
                    <div class="texto-data-peli">
                        <h5>Data de la película</h5> <hr>
                        <p><b>Título en inglés: </b>  {{pregunta.nombrePeli}}  </p>
                        <p><b>Director: </b> {{pregunta.director}}</p>
                        <p><b>Año de estreno: </b> {{pregunta.anio}} </p>
                    </div>
                </div>              
                
            </div>

            
    
        </div>
        
    </div>
    
    
    
</div>

<div *ngIf="getPreguntaServicio().contador >= 4" id="bloque-preguntas-dificiles">

    <div class="container d-flex justify-content-center p-5"  *ngFor="let pregunta of arrPreguntasDificiles">
        <div class="row">
    
            <div class="col-md-4 text-center">            
                <div class="card">
                    <img [src]="pregunta.imagen" class="img-fluid" [alt]="pregunta.titulo">
                </div>
            </div>
    
            <div class="col-md-4">
                <h3 class="text-muted text-uppercase text-center">{{pregunta.titulo}}</h3> 
                <hr class="my-4">
                <div class="texto-pregunta lead">
                    {{pregunta.texto}}
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="container pb-4" id="contenedor-respuestas">
                    <button class="btn btn-primary btn-lg btn-block pt-2" (click)="contestacion(pregunta.respuesta1, pregunta.respuestaCorrecta, pregunta.textoRespuesta)">{{pregunta.respuesta1}}</button>
                    <button class="btn btn-primary btn-lg btn-block pt-2" (click)="contestacion(pregunta.respuesta2, pregunta.respuestaCorrecta, pregunta.textoRespuesta)">{{pregunta.respuesta2}}</button>
                    <button class="btn btn-primary btn-lg btn-block pt-2" (click)="contestacion(pregunta.respuesta3, pregunta.respuestaCorrecta, pregunta.textoRespuesta)">{{pregunta.respuesta3}}</button>
                </div>

                <!-- Datos de la API -->
                <div class="card text-muted font-italic font-weight-light border-warning  text-light m-3 p-3 pt-4">
                    <div class="texto-data-peli">
                        <h5>Data de la película</h5> <hr>
                        <p><b>Título en inglés: </b>  {{pregunta.nombrePeli}}  </p>
                        <p><b>Director: </b> {{pregunta.director}}</p>
                        <p><b>Año de estreno: </b> {{pregunta.anio}} </p>
                    </div>
                </div> 
    
            </div>
    
        </div>
    </div>  
    
    
</div>

<div *ngIf="getPreguntaServicioDificil().contador >= 4" id="bloque-preguntas-mas-dificiles">

    <div class="container d-flex justify-content-center p-5"  *ngFor="let pregunta of arrPreguntasMasDificiles">
        <div class="row">
    
            <div class="col-md-4 text-center">            
                <div class="card">
                    <img [src]="pregunta.imagen" class="img-fluid" [alt]="pregunta.titulo">
                </div>
            </div>
    
            <div class="col-md-4">
                <h3 class="text-muted text-uppercase text-center">{{pregunta.titulo}}</h3> 
                <hr class="my-4">
                <div class="texto-pregunta lead">
                    {{pregunta.texto}}
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="container pb-4" id="contenedor-respuestas">
                    <button class="btn btn-primary btn-lg btn-block pt-2" (click)="contestacion(pregunta.respuesta1, pregunta.respuestaCorrecta, pregunta.textoRespuesta)">{{pregunta.respuesta1}}</button>
                    <button class="btn btn-primary btn-lg btn-block pt-2" (click)="contestacion(pregunta.respuesta2, pregunta.respuestaCorrecta, pregunta.textoRespuesta)">{{pregunta.respuesta2}}</button>
                    <button class="btn btn-primary btn-lg btn-block pt-2" (click)="contestacion(pregunta.respuesta3, pregunta.respuestaCorrecta, pregunta.textoRespuesta)">{{pregunta.respuesta3}}</button>
                </div>

                <!-- Datos de la API -->
                <div class="card text-muted font-italic font-weight-light border-warning  text-light m-3 p-3 pt-4">
                    <div class="texto-data-peli">
                        <h5>Data de la película</h5> <hr>
                        <p><b>Título en inglés: </b>  {{pregunta.nombrePeli}}  </p>
                        <p><b>Director: </b> {{pregunta.director}}</p>
                        <p><b>Año de estreno: </b> {{pregunta.anio}} </p>
                    </div>
                </div> 
    
            </div>
    
        </div>
    </div>  
    
    
</div>

